@for (address of addressList; track address.addressType) {
<div class="inventual-addsupplier-area bg-white rounded-8">

  <h4 class="text-[20px] font-bold text-black mb-3">{{address.addressType | titlecase }} Address</h4>
  @if(address.addressType === 'TEMPORARY'){
    <div class="inventual-checkbox-field-style mb-2 fullWidth">
      <mat-checkbox class="example-margin float-end">Same as Permanent</mat-checkbox>
    </div>
  }
  <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">

    <div class="col-span-4 md:col-span-6 sm:col-span-12">
      <div class="inventual-select-field mb-5">
        <h5 class="text-[15px] text-black font-semibold mb-3">Address Line 1</h5>
        <div class="inventual-input-field-style">
          <mat-form-field class="w-full">
            <textarea matInput type="text" autocomplete="off" [(ngModel)]="address.addressLine1"
              placeholder="Enter the address line 1"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="col-span-4 md:col-span-6 sm:col-span-12">
      <div class="inventual-select-field mb-5">
        <h5 class="text-[15px] text-black font-semibold mb-3">Address Line 2</h5>
        <div class="inventual-input-field-style">
          <mat-form-field class="w-full">
            <textarea matInput type="text" autocomplete="off" [(ngModel)]="address.addressLine2"
              placeholder="Enter the address line 2"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="col-span-4 md:col-span-6 sm:col-span-12">
      <div class="inventual-select-field mb-5">
        <h5 class="text-[15px] text-black font-semibold mb-3">Street</h5>
        <div class="inventual-input-field-style">
          <mat-form-field class="w-full">
            <input matInput type="text" autocomplete="off" [(ngModel)]="address.street" placeholder="Enter the street">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="col-span-4 md:col-span-6 sm:col-span-12">
      <div class="inventual-select-field mb-5">
        <h5 class="text-[15px] text-black font-semibold mb-3">City</h5>
        <div class="inventual-input-field-style">
          <mat-form-field class="w-full">
            <input matInput type="text" autocomplete="off" [(ngModel)]="address.city" placeholder="Enter the city">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="col-span-4 md:col-span-6 sm:col-span-12">
      <div class="inventual-select-field mb-5">
        <h5 class="text-[15px] text-black font-semibold mb-3">State</h5>
        <div class="inventual-input-field-style">
          <mat-form-field class="w-full">
            <input matInput type="text" autocomplete="off" [(ngModel)]="address.state" placeholder="Enter the state">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="col-span-4 md:col-span-6 sm:col-span-12">
      <div class="inventual-select-field mb-5">
        <h5 class="text-[15px] text-black font-semibold mb-3">Country</h5>
        <div class="inventual-input-field-style">
          <mat-form-field class="w-full">
            <input matInput type="text" autocomplete="off" [(ngModel)]="address.country"
              placeholder="Enter the country">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="col-span-4 md:col-span-6 sm:col-span-12">
      <div class="inventual-select-field mb-5">
        <h5 class="text-[15px] text-black font-semibold mb-3">Postal Code</h5>
        <div class="inventual-input-field-style">
          <mat-form-field class="w-full">
            <input matInput type="text" autocomplete="off" [(ngModel)]="address.postalCode"
              placeholder="Enter the postal Code" numbersOnly>
          </mat-form-field>
        </div>
      </div>
    </div>


    <div class="col-span-4 md:col-span-6 sm:col-span-12">
      <div class="inventual-select-field mb-5">
        <h5 class="text-[15px] text-black font-semibold mb-3">Contact Number</h5>
        <div class="inventual-input-field-style">
          <mat-form-field class="w-full">
            <input matInput type="text" autocomplete="off" [(ngModel)]="address.mobileNumber"
              placeholder="Enter the contact number" numbersOnly>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="col-span-4 md:col-span-6 sm:col-span-12">
      <div class="inventual-select-field mb-5">
        <h5 class="text-[15px] text-black font-semibold mb-3">Alternate Contact Number</h5>
        <div class="inventual-input-field-style">
          <mat-form-field class="w-full">
            <input matInput type="text" autocomplete="off" [(ngModel)]="address.alternateMobileNumber"
              placeholder="Enter the alternate contact number" numbersOnly>
          </mat-form-field>
        </div>
      </div>
    </div>


  </div>

</div>
}