
  <div class="inventual-breadcrumb-area px-7 py-7 bg-white mb-5">
    <div class="inventual-breadcrumb-area-inner px-0.5">
        <h5 class="text-[20px] text-black font-bold mb-3">{{title}}</h5>
        <div class="inventual-breadcrumb-area-inner-wrap">
            <span class="text-[14px] text-gray font-normal inline-block me-2">User Management</span><span class="text-[14px] text-gray font-normal inline-block me-2">&gt;</span>
            <span class="text-[14px] text-gray font-normal inline-block me-2">User List</span>
        </div>
    </div>
</div>
<div class="main-content inventual-content-area px-7">
  <router-outlet></router-outlet>
</div>