<div class="nav-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="nav-app-name">Responsive App</h1>

        <span class="fill-remaining-space"></span>
        <button mat-icon-button>
            <mat-icon class="nav-iocn">notifications</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon class="nav-iocn">perm_identity</mat-icon>
        </button>
        <button mat-icon-button (click)="logout()">
            <mat-icon class="nav-iocn" >exit_to_app</mat-icon>
        </button>
    </mat-toolbar>
    <mat-sidenav-container class="nav-sidenav-container">
        <mat-sidenav #snav mode="side" opened [fixedInViewport]="options.value.fixed"
            [fixedTopGap]="options.value.top" [fixedBottomGap]="options.value.bottom">
            <div class="inventual-logo">
                <!-- <a class="inline-block">
                    <img src="../../../../assets/logo/IconRental.png" alt="logo not found" >
                </a> -->
            </div>
            <mat-nav-list>
                <span *ngFor="let item of menu">
                    <mat-list-item (click)="selectedMenu(item)" [routerLink]="[item.route]" [ngClass]="{'active':item.defaultSelected}" >
                        <button mat-button [ngClass]="{'active-label':item.defaultSelected}"><mat-icon>{{item.icon}}</mat-icon> {{item.displayName}}</button>
                    </mat-list-item>
                </span>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-main-content [title]="activeMenu.displayName"></app-main-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>