

/*  Login rental css*/
/*.inventual-input-field-style .mdc-text-field {
  border-radius: 0;
  background-color: transparent;
  padding: 0;
}
.inventual-input-field-style .mat-mdc-form-field,
.inventual-input-field-style .mat-mdc-floating-label {
  font-family: Nunito Sans, sans-serif;
  font-size: 14px;
  text-transform: none;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(97 97 97 / var(--tw-text-opacity));
  text-decoration-line: none;
}
.inventual-input-field-style .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  padding: 0;
}
.inventual-input-field-style .mat-mdc-form-field-infix {
  min-height: 0px;
  padding: 0;
}
.inventual-input-field-style input.mat-mdc-input-element {
  margin: 0;
  box-sizing: border-box;
  display: block;
  height: 3rem;
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(239 240 242 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(252 252 252 / var(--tw-bg-opacity));
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-family: Nunito Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 46px;
  --tw-text-opacity: 1;
  color: rgb(97 97 97 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.inventual-input-field-style input.mat-mdc-input-element:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.inventual-input-field-style .mat-mdc-form-field-subscript-wrapper,
.inventual-input-field-style .mdc-line-ripple {
  display: none;
}
.inventual-input-field-style-eye .mat-mdc-form-field {
  width: 100%;
}
.inventual-input-field-style-eye .mat-mdc-form-field-flex {
  width: 100%;
  border-radius: 3px;
  background-color: transparent;
  padding: 0;
}
.inventual-input-field-style-eye .mat-mdc-form-field-wrapper {
  width: 100%;
  padding: 0;
}
.inventual-input-field-style-eye .mat-mdc-form-field-underline {
  display: none;
}
.inventual-input-field-style-eye .mat-mdc-form-field-infix {
  padding: 0;
}
.inventual-input-field-style-eye .mat-mdc-form-field-suffix {
  position: absolute;
  top: 0.375rem;
  inset-inline-end: 0.5rem;
}
.inventual-input-field-style-eye .mat-mdc-icon {
  --tw-text-opacity: 1;
  color: rgb(168 168 168 / var(--tw-text-opacity));
}
.inventual-input-field-style-eye .mat-icon {
  line-height: 1 !important;
  transform: translateY(11px);
}
.inventual-input-field-style-eye .mat-mdc-form-field-icon-suffix,
.inventual-input-field-style-eye [dir="rtl"] .mat-mdc-form-field-icon-prefix {
  height: 46px;
  border-width: 0px;
  border-right-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(239 240 242 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(252 252 252 / var(--tw-bg-opacity));
  padding: 0;
  --tw-text-opacity: 1;
  color: rgb(168 168 168 / var(--tw-text-opacity));
}
.inventual-input-field-style-eye .mat-mdc-icon-button.mat-mdc-button-base {
  padding: 0 !important;
}
.inventual-input-field-style-eye .mat-mdc-icon-button .mat-mdc-button-ripple,
.inventual-input-field-style-eye .mat-mdc-icon-button .mat-mdc-button-touch-target,
.inventual-input-field-style-eye .mat-mdc-icon-button .mat-mdc-focus-indicator,
.inventual-input-field-style-eye .mat-mdc-icon-button .mat-mdc-button-persistent-ripple:before {
  display: none;
}
.inventual-input-field-style-eye input.mat-mdc-input-element {
  border-inline-end-width: 0px;
}
.inventual-material-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.inventual-material-btn .mdc-button {
  height: 3rem;
  min-width: 0px;
  border-radius: 5px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
@media (max-width: 767px) {
  .inventual-material-btn .mdc-button {
      padding-left: 1rem;
      padding-right: 1rem;
  }
}
.inventual-material-btn .mat-mdc-raised-button.mat-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(44 106 229 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.inventual-material-btn .mat-mdc-raised-button.mat-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(50 201 141 / var(--tw-bg-opacity));
}
.inventual-material-btn .mat-mdc-raised-button.mat-accent {
  --tw-bg-opacity: 1;
  background-color: rgb(50 201 141 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.inventual-material-btn .mat-mdc-raised-button.mat-accent:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(44 106 229 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.inventual-material-btn .mat-mdc-raised-button.mat-warn {
  --tw-bg-opacity: 1;
  background-color: rgb(223 114 114 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.inventual-material-btn .mat-mdc-raised-button.mat-warn:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(50 201 141 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.inventual-material-btn .mat-mdc-raised-button.mat-mdc-button-base {
  height: auto;
}
.inventual-material-btn .mat-icon {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-size: 22px !important;
}
.inventual-login-wrapper {
  max-width: 560px;
  width: 560px;
  display: inline-block;
  border-radius: 10px;
  padding: 3rem 3rem 2.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  box-shadow: 0 10px 30px #1329550d;
}
@media (max-width: 600px) {
  .inventual-login-wrapper {
      width: calc(100% - 40px);
      max-width: inherit;
      padding: 1.25rem 1.25rem 1rem;
  }
}
.inventual-login-wrapper a {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.inventual-login-wrapper a:hover {
  --tw-text-opacity: 1;
  color: rgb(50 201 141 / var(--tw-text-opacity));
}
.inventual-login-btn .mat-mdc-raised-button .mdc-button__label,
.inventual-login-btn .mdc-button {
  width: 100%;
}
.inventual-input-field-style {
  position: relative;
}
.inventual-input-field-style caption {
  position: absolute;
  top: 0.5rem;
  inset-inline-end: 0.875rem;
  display: inline-block;
}
.inventual-input-field-style caption .mat-icon {
  font-size: 20px;
  --tw-text-opacity: 1;
  color: rgb(168 168 168 / var(--tw-text-opacity));
}
*/

