<div class="inventual-addsupplier-area bg-white p-5 custom-shadow rounded-8 mb-5">
  @if(isEdit) {
  <h4 class="text-[20px] font-bold text-black mb-3">Edit User</h4>
  } @else {
  <h4 class="text-[20px] font-bold text-black mb-3">Add New User</h4>
  }
  <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0" [formGroup]="form">
    <div class="col-span-4 md:col-span-6 sm:col-span-12">
      <div class="inventual-select-field mb-5">
        <h5 class="text-[15px] text-black font-semibold mb-3">First Name</h5>
        <div class="inventual-input-field-style">
          <mat-form-field class="w-full">
            <input matInput type="text" autocomplete="off" formControlName="firstName"
              placeholder="Enter the First Name">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-span-4 md:col-span-6 sm:col-span-12">
      <div class="inventual-select-field mb-5">
        <h5 class="text-[15px] text-black font-semibold mb-3">Last Name</h5>
        <div class="inventual-input-field-style">
          <mat-form-field class="w-full">
            <input matInput type="text" autocomplete="off" formControlName="lastName" placeholder="Enter the Last Name">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-span-4 md:col-span-6 sm:col-span-12">
      <div class="inventual-select-field mb-5">
        <h5 class="text-[15px] text-black font-semibold mb-3">Email</h5>
        <div class="inventual-input-field-style">
          <mat-form-field class="w-full">
            <input matInput type="email" autocomplete="off" formControlName="email" placeholder="Enter the Email">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-span-4 md:col-span-6 sm:col-span-12">
      <div class="inventual-select-field mb-5">
        <h5 class="text-[15px] text-black font-semibold mb-3">User Type</h5>
        <div class="inventual-select-field-style">
          <mat-form-field>
            <mat-select formControlName="userType" placeholder="Select UserType" multiple>
              @for (usertype of userTypes; track usertype) {
              <mat-option class="rnt-select-panel" [value]="usertype">{{usertype | removeSpecialChar | titlecase
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    @if(isEdit){
    <div class="col-span-4 md:col-span-6 sm:col-span-12">
      <div class="inventual-select-field mb-5">
        <h5 class="text-[15px] text-black font-semibold mb-3">Status</h5>
        <div class="inventual-select-field-style">
          <mat-form-field>
            <mat-select formControlName="status" placeholder="Select Status">
              @for (s of status; track s) {
              <mat-option [value]="s">{{s | titlecase }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

        </div>
      </div>
    </div>
    }

    <div class="col-span-4 md:col-span-6 sm:col-span-12">
      <div class="inventual-select-field mb-5">
        <h5 class="text-[15px] text-black font-semibold mb-3">Gender</h5>
        <div class="inventual-select-field-style">
          <mat-form-field>
            <mat-select formControlName="gender" placeholder="Select Gender">
              @for (g of gender; track g) {
              <mat-option [value]="g">{{g | titlecase }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

        </div>
      </div>
    </div>
    <div class="col-span-12">
      <app-add-edit-address [addressList]="addressList" [isEdit]="isEdit" #addressComponenet></app-add-edit-address>
    </div>
    <div class="col-span-12">
      <div class="inventual-material-btn pt-2.5 pull-right-btn">
        <button mat-raised-button="" color="primary" mat-ripple-loader-class-name="mat-mdc-button-ripple"
          class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base"
          [disabled]="!form.valid" (click)="submit()">
          <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
            class="mdc-button__label">Submit</span><span class="mat-mdc-focus-indicator"></span><span
            class="mat-mdc-button-touch-target"></span>
          <span class="mat-ripple mat-mdc-button-ripple"></span>
        </button>
        <button mat-raised-button="" color="accent" mat-ripple-loader-class-name="mat-mdc-button-ripple"
          class="mdc-button mdc-button--raised mat-mdc-raised-button mat-accent mat-mdc-button-base" (click)="cancel()">
          <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
            class="mdc-button__label">Cancel</span><span class="mat-mdc-focus-indicator"></span><span
            class="mat-mdc-button-touch-target"></span>
          <span class="mat-ripple mat-mdc-button-ripple"></span>
        </button>
      </div>
    </div>
  </div>
</div>