.inventual-dashboard-area {
    display: flex;
}
.inventual-dashboard-sidebar {
    transition: all linear 0.3s;
    min-width: 315px;
    width: 315px;
    position: relative;
    margin-inline-start: 0px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    z-index: 10;
}
@media (min-width: 320px) and (max-width: 1900px) {
    .inventual-dashboard-sidebar {
        margin-inline-start: -315px;
    }
}
.inventual-dashboard-sidebar .inventual-header-bar-responsive {
    position: absolute;
    top: 23px;
    z-index: 11;
    inset-inline-end: -60px;
    display: inline-block;
    cursor: pointer;
    --tw-text-opacity: 1;
    color: rgb(44 106 229 / var(--tw-text-opacity));
    text-align: center;
    height: 2rem;
    width: 2rem;
    line-height: 47px;
    --tw-bg-opacity: 1;
    background-color: rgb(239 240 242 / var(--tw-bg-opacity));
}
@media (max-width: 767px) {
    .inventual-dashboard-sidebar .inventual-header-bar-responsive {
        inset-inline-end: -44px;
    }
}
@media (max-width: 359px) {
    .inventual-dashboard-sidebar .inventual-header-bar-responsive {
        inset-inline-end: -45px;
        top: 1.25rem;
    }
}
.inventual-dashboard-sidebar .inventual-header-bar-responsive .mat-icon {
    line-height: 1;
    transform: translateY(4px);
}
.inventual-dashboard-main {
    width: calc(100% - 315px);
    transition: all linear 0.3s;
}
@media (min-width: 1201px) and (max-width: 1900px) {
    .inventual-dashboard-main {
        width: 100%;
    }
}
@media (max-width: 1200px) {
    .inventual-dashboard-main {
        width: 100%;
    }
}
.inventual-dashboard-sidebar.sidebar-enable {
    margin-inline-start: -315px;
}
@media (min-width: 320px) and (max-width: 1900px) {
    .inventual-dashboard-sidebar.sidebar-enable {
        position: fixed;
        top: 0;
        inset-inline-start: 0px;
        bottom: 0;
        margin-inline-start: 0px;
    }
}
.inventual-dashboard-main.sidebar-enable {
    margin-inline-start: 0px;
    width: 100%;
}
@media (max-width: 1900px) {
    .inventual-menu-overlay.sidebar-enable {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 10;
    }
}
.inventual-select-field-style .mat-mdc-form-field-appearance-legacy.mat-mdc-form-field-can-float.mat-mdc-form-field-should-float .mat-mdc-form-field-label {
    display: none;
}
.inventual-select-field-style .mat-mdc-form-field-hide-placeholder .mat-mdc-select-placeholder {
    --tw-text-opacity: 1;
    color: rgb(97 97 97 / var(--tw-text-opacity));
    opacity: 0.7;
    -webkit-text-fill-color: #616161;
}
.inventual-select-field-style .mat-mdc-form-field-appearance-legacy .mat-mdc-form-field-underline {
    display: none;
}
.inventual-select-field-style .mat-mdc-form-field-flex {
    display: flex;
    height: 3rem;
    width: 100%;
    align-items: center;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(239 240 242 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(252 252 252 / var(--tw-bg-opacity));
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 46px;
    --tw-text-opacity: 1;
    color: rgb(97 97 97 / var(--tw-text-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.inventual-select-field-style .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
    width: 100%;
    padding: 0;
}
.inventual-select-field-style .mat-mdc-form-field-infix {
    display: flex;
    min-height: 0px;
    width: 100%;
    align-items: center;
    border-top-width: 0px;
}
.inventual-select-field-style .mat-form-field-hide-placeholder .mat-mdc-select-placeholder,
.inventual-select-field-style .mat-mdc-select {
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    --tw-text-opacity: 1;
    color: rgb(97 97 97 / var(--tw-text-opacity));
    opacity: 1;
    -webkit-text-fill-color: #616161;
}
.inventual-select-field-style .mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
    transform: translateY(0);
}
.inventual-select-field-style .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix .mat-mdc-floating-label,
.inventual-select-field-style .mat-mdc-form-field-subscript-wrapper,
.inventual-select-field-style .mdc-line-ripple {
    display: none;
}
.inventual-select-field-style .mat-mdc-select-value-text {
    font-family: Nunito Sans, sans-serif;
    --tw-text-opacity: 1;
    color: rgb(97 97 97 / var(--tw-text-opacity));
}
.inventual-select-field-style .mdc-text-field {
    border-radius: 0;
    padding: 0;
}
.inventual-select-field-style .mat-mdc-form-field {
    width: 100%;
    font-family: Nunito Sans, sans-serif;
}
.inventual-select-field-style .mat-mdc-text-field-wrapper {
    min-width: 100px;
    border-radius: 0;
}
.inventual-select-field-style .mat-mdc-select-arrow {
    color: #616161 !important;
}
.mat-mdc-option span.mdc-list-item__primary-text {
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    --tw-text-opacity: 1;
    color: rgb(13 15 25 / var(--tw-text-opacity));
}
.inventual-input-field-style .mdc-text-field {
    border-radius: 0;
    background-color: transparent;
    padding: 0;
}
.inventual-input-field-style .mat-mdc-form-field,
.inventual-input-field-style .mat-mdc-floating-label {
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    text-transform: none;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(97 97 97 / var(--tw-text-opacity));
    text-decoration-line: none;
}
.inventual-input-field-style .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
    padding: 0;
}
.inventual-input-field-style .mat-mdc-form-field-infix {
    min-height: 0px;
    padding: 0;
}
.inventual-input-field-style input.mat-mdc-input-element {
    margin: 0;
    box-sizing: border-box;
    display: block;
    height: 3rem;
    width: 100%;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(239 240 242 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(252 252 252 / var(--tw-bg-opacity));
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 46px;
    --tw-text-opacity: 1;
    color: rgb(97 97 97 / var(--tw-text-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.inventual-input-field-style input.mat-mdc-input-element:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.inventual-input-field-style .mat-mdc-form-field-subscript-wrapper,
.inventual-input-field-style .mdc-line-ripple {
    display: none;
}
.inventual-material-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}
.inventual-material-btn .mdc-button {
    height: 3rem;
    min-width: 0px;
    border-radius: 5px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    font-family: Nunito Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}
@media (max-width: 767px) {
    .inventual-material-btn .mdc-button {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.inventual-material-btn .mat-mdc-raised-button.mat-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(44 106 229 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.inventual-material-btn .mat-mdc-raised-button.mat-primary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(50 201 141 / var(--tw-bg-opacity));
}
.inventual-material-btn .mat-mdc-raised-button.mat-accent {
    --tw-bg-opacity: 1;
    background-color: rgb(50 201 141 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.inventual-material-btn .mat-mdc-raised-button.mat-accent:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(44 106 229 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.inventual-material-btn .mat-mdc-raised-button.mat-warn {
    --tw-bg-opacity: 1;
    background-color: rgb(223 114 114 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.inventual-material-btn .mat-mdc-raised-button.mat-warn:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(50 201 141 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.inventual-material-btn .mat-mdc-raised-button.mat-mdc-button-base {
    height: auto;
}
.inventual-material-btn .mat-icon {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-size: 22px !important;
}
.inventual-input-field-style-eye .mat-mdc-form-field {
    width: 100%;
}
.inventual-input-field-style-eye .mat-mdc-form-field-flex {
    width: 100%;
    border-radius: 3px;
    background-color: transparent;
    padding: 0;
}
.inventual-input-field-style-eye .mat-mdc-form-field-wrapper {
    width: 100%;
    padding: 0;
}
.inventual-input-field-style-eye .mat-mdc-form-field-underline {
    display: none;
}
.inventual-input-field-style-eye .mat-mdc-form-field-infix {
    padding: 0;
}
.inventual-input-field-style-eye .mat-mdc-form-field-suffix {
    position: absolute;
    top: 0.375rem;
    inset-inline-end: 0.5rem;
}
.inventual-input-field-style-eye .mat-mdc-icon {
    --tw-text-opacity: 1;
    color: rgb(168 168 168 / var(--tw-text-opacity));
}
.inventual-input-field-style-eye .mat-icon {
    line-height: 1 !important;
    transform: translateY(11px);
}
.inventual-input-field-style-eye .mat-mdc-form-field-icon-suffix,
.inventual-input-field-style-eye [dir="rtl"] .mat-mdc-form-field-icon-prefix {
    height: 46px;
    border-width: 0px;
    border-right-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(239 240 242 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(252 252 252 / var(--tw-bg-opacity));
    padding: 0;
    --tw-text-opacity: 1;
    color: rgb(168 168 168 / var(--tw-text-opacity));
}
.inventual-input-field-style-eye .mat-mdc-icon-button.mat-mdc-button-base {
    padding: 0 !important;
}
.inventual-input-field-style-eye .mat-mdc-icon-button .mat-mdc-button-ripple,
.inventual-input-field-style-eye .mat-mdc-icon-button .mat-mdc-button-touch-target,
.inventual-input-field-style-eye .mat-mdc-icon-button .mat-mdc-focus-indicator,
.inventual-input-field-style-eye .mat-mdc-icon-button .mat-mdc-button-persistent-ripple:before {
    display: none;
}
.inventual-input-field-style-eye input.mat-mdc-input-element {
    border-inline-end-width: 0px;
}
.custom-height-70 {
    height: 70px;
    min-height: 70px;
}
.inventual-input-field-file-choose label {
    height: 3rem;
    line-height: 46px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(239 240 242 / var(--tw-border-opacity));
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 3px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    display: block;
    font-size: 14px;
    --tw-text-opacity: 1;
    color: rgb(97 97 97 / var(--tw-text-opacity));
    font-family: Nunito Sans, sans-serif;
    font-weight: 400;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(252 252 252 / var(--tw-bg-opacity));
    transition: all linear 0.3s;
}
.inventual-input-field-file-choose label:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.inventual-input-field-styles input::-moz-placeholder,
.inventual-input-field-styles input::placeholder,
.inventual-input-field-style input::-moz-placeholder,
.inventual-input-field-style input::placeholder {
    --tw-text-opacity: 1;
    color: rgb(97 97 97 / var(--tw-text-opacity));
    opacity: 1;
    font-family: Nunito Sans, sans-serif;
    font-weight: 400;
}
.inventual-input-field-file-choose label {
    line-height: 46px !important;
}
.inventual-input-field-file-choose input {
    display: none;
}
.inventual-select-field-style mat-label{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cdk-overlay-container .mat-mdc-select-panel {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    width: 100%;
    max-height: 275px;
    outline: 0;
    overflow: auto;
    padding: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    position: static;
    background-color: var(--mat-select-panel-background-color);
}