<mat-card-subtitle class="m-3">Address Details
  <button mat-flat-button color="accent" class="float-end" (click)="addAddress()"><mat-icon>add</mat-icon>Add
    Address</button>
</mat-card-subtitle>
<mat-card-content>
  <div class="row">
    <div class="col-12 table-responsive">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="addressLine1">
          <th mat-header-cell *matHeaderCellDef> Address Line 1 </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline" class="mt-2">
              <input matInput type="text" autocomplete="off" [(ngModel)]="element.addressLine1">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="addressLine2">
          <th mat-header-cell *matHeaderCellDef> Address Line 2 </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline" class="mt-2">
              <input matInput type="text" autocomplete="off" [(ngModel)]="element.addressLine2">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="street">
          <th mat-header-cell *matHeaderCellDef> Street </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline" class="mt-2">
              <input matInput type="text" autocomplete="off" [(ngModel)]="element.street">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> City </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-form-field appearance="outline" class="mt-2">
              <input matInput type="text"  autocomplete="off" [(ngModel)]="element.city">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef> State </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-form-field appearance="outline" class="mt-2">
              <input matInput type="text"  autocomplete="off" [(ngModel)]="element.state">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef> Country </th>
          <td mat-cell *matCellDef="let element" class="mt-2"> 
            <mat-form-field appearance="outline">
              <input matInput type="text"  autocomplete="off" [(ngModel)]="element.country">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="postalCode">
          <th mat-header-cell *matHeaderCellDef> Postal Code </th>
          <td mat-cell *matCellDef="let element" class="mt-2">
            <mat-form-field appearance="outline">
              <input matInput type="text"  autocomplete="off" [(ngModel)]="element.postalCode" numbersOnly>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef> Contact Number </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline" class="mt-2">
              <input matInput type="text"  autocomplete="off" [(ngModel)]="element.mobileNumber" numbersOnly>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="alternateMobileNumber">
          <th mat-header-cell *matHeaderCellDef> Alternate Contact Number </th>
          <td mat-cell *matCellDef="let element" >
            <mat-form-field appearance="outline" class="mt-2">
              <input matInput type="text"  autocomplete="off" [(ngModel)]="element.alternateMobileNumber" numbersOnly>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="officeNumber">
          <th mat-header-cell *matHeaderCellDef> Office Number </th>
          <td mat-cell *matCellDef="let element" > 
            <mat-form-field appearance="outline" class="mt-2">
              <input matInput type="text"  autocomplete="off" [(ngModel)]="element.officeNumber" numbersOnly>
            </mat-form-field>
           </td>
        </ng-container>

        <ng-container matColumnDef="action" >
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon style="color: red;" (click)="deleteAddress(element.index)">delete</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</mat-card-content>